name: Build Windows x86_64

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-release:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: git base-devel tree zip unzip mingw-w64-x86_64-cmake mingw-w64-x86_64-xmake mingw-w64-x86_64-toolchain mingw-w64-x86_64-nlohmann-json mingw-w64-x86_64-qt6-base mingw-w64-x86_64-qt6-tools

    - name: Build OmniMIDIConfigurator
      run: |
        cd OmniMIDIConfigurator
        MSYS2_ARG_CONV_EXCL='-DCMAKE_INSTALL_PREFIX=;' cmake -S "$(pwd)" --preset=release -DCMAKE_INSTALL_PREFIX=/mingw64
        cmake --build --preset=build-release --verbose
        DESTDIR="$(pwd)/dist" cmake --build --preset=build-release --target install
        cd dist/mingw64
        tree
        cd bin
        ldd OmniMIDIConfigurator.exe | grep "${MINGW_PREFIX}" | awk '{print $3}' | xargs -i cp {} .
        "${MINGW_PREFIX}/bin/windeployqt6.exe" OmniMIDIConfigurator.exe

    - name: Build OmniMIDI
      run: |
        cd OmniMIDI
        xmake f -m release -p mingw --nonfree=yes -y
        xmake -v
        xmake install -o "$(pwd)/dist"
        cd dist
        tree
        cd bin
        cp "${MINGW_PREFIX}/bin/libwinpthread-1.dll" .

    - name: Download binaries
      run: |
        curl -L -o bass24.zip https://www.un4seen.com/files/bass24.zip
        curl -L -o bassmidi24.zip https://www.un4seen.com/files/bassmidi24.zip
        curl -L -o bassflac24.zip https://www.un4seen.com/files/bassflac24.zip
        curl -L -o bassasio14.zip https://www.un4seen.com/files/bassasio14.zip
        curl -L -o basswasapi24.zip https://www.un4seen.com/files/basswasapi24.zip
        curl -L -o bass_fx24.zip https://www.un4seen.com/files/z/0/bass_fx24.zip

        curl -L -o fluidsynth-v2.5.2-win10-x64-glib.zip https://github.com/FluidSynth/fluidsynth/releases/download/v2.5.2/fluidsynth-v2.5.2-win10-x64-glib.zip

        curl -L -o OmniMIDI/dist/bin/xsynth.dll https://github.com/BlackMIDIDevs/xsynth/releases/download/0.3.4/xsynth-windows-x64.dll

        unzip -j bass24.zip "x64/bass.dll" -d OmniMIDI/dist/bin
        unzip -j bassmidi24.zip "x64/bassmidi.dll" -d OmniMIDI/dist/bin
        unzip -j bassflac24.zip "x64/bassflac.dll" -d OmniMIDI/dist/bin
        unzip -j bassasio14.zip "x64/bassasio.dll" -d OmniMIDI/dist/bin
        unzip -j basswasapi24.zip "x64/basswasapi.dll" -d OmniMIDI/dist/bin
        unzip -j bass_fx24.zip "x64/bass_fx.dll" -d OmniMIDI/dist/bin

        unzip -j fluidsynth-v2.5.2-win10-x64-glib.zip "fluidsynth-v2.5.2-win10-x64-glib/bin/*.dll" -d OmniMIDI/dist/bin

    - name: Zip artifacts
      run: |
        (cd OmniMIDI/dist/bin && zip -r ../../../OmniMIDI-windows-x86_64.zip *)
        (cd OmniMIDIConfigurator/dist/mingw64/bin && zip -r ../../../../OmniMIDI-CFG-windows-x86_64.zip *)
        (cd "${RUNNER_TEMP}" && zip -r msys64.zip msys64)
        mv "${RUNNER_TEMP}/msys64.zip" .
        zip -r OmniMIDI-build.zip OmniMIDI
        zip -r OmniMIDIConfigurator-build.zip OmniMIDIConfigurator
        zip -r vcpkg_installed.zip vcpkg_installed

    - name: Create or Update "latest" GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: latest
        name: Build Windows x86_64
        body: "${{ github.event.head_commit.message }} (commit: [${{ github.sha }}](https://github.com/${{ github.repository }}/commit/${{ github.sha }}))"
        files: |
          OmniMIDI-windows-x86_64.zip
          OmniMIDI-CFG-windows-x86_64.zip
          msys64.zip
          OmniMIDI-build.zip
          OmniMIDIConfigurator-build.zip
          vcpkg_installed.zip
        overwrite_files: true
